

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #e9e0d4; */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
#quiz-card{
    width: 200px;
    height: 30px;
    background: #3dc2cb;
    position: relative;
    border-radius: 2.5em;
    padding: 2em;
    transition: transform 0.4s ease;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
}
#quiz-card:hover {
    cursor: pointer;
    transform: scale(0.97);
  }
  #quiz-card:hover  {
    transform: scale(0.96);
    font-weight: bold;
  }
  #quiz-card:active a{
    transform: scale(0.9);
  }
h1 {
    color: #df4c2f;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    font-family:Arial, Helvetica, sans-serif;
    text-size-adjust: 0;
    text-decoration: none;
    color: #f3fbf7;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}
